<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>All Student</title>
<link rel="stylesheet" href="/studentStyle.css"/>
</head>
<body>

	<h1 th:text = "#{greeting}">Hello</h1>
	
	<span th:text="#{lang.change}"></span>:
	<select id="locales">
	    <option value=""></option>
	    <option value="en" th:text="#{lang.eng}"></option>
	    <option value="kh" th:text="#{lang.kh}"></option>
	</select>
	
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.replace('international?lang=' + selectedOption);
	        }
	    });
	});
	</script>
</html>